<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.har.unmanned.mfront.dao.extend.DispatchItemQueryMapper">
    <resultMap id="BaseResultMap" type="com.har.unmanned.mfront.model.extend.DispatchItemDomain">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="dispatch_id" property="dispatchId" jdbcType="BIGINT"/>
        <result column="goods_id" property="goodsId" jdbcType="BIGINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="INTEGER"/>

        <!--扩展字段-->
        <result column="shop_id" property="shopId" jdbcType="BIGINT"/>
        <result column="goodsName" property="goodsName" jdbcType="VARCHAR"/>
        <result column="shop_min_quantity" property="shopMinQuantity" jdbcType="INTEGER"/>
        <result column="shop_base_quantity" property="shopBaseQuantity" jdbcType="INTEGER"/>
        <result column="goodsPicture" property="goodsPicture" jdbcType="VARCHAR"/>
        <result column="layer" property="layer" jdbcType="INTEGER"/>
        <result column="stockQuantity" property="stockQuantity" jdbcType="INTEGER"/>
        <result column="dispatchQuantity" property="dispatchQuantity" jdbcType="INTEGER"/>
        <result column="shopStockId" property="shopStockId" jdbcType="INTEGER"/>
    </resultMap>

    <!--配送单商品列表-->
    <select id="dispatchGoodsList" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            dh.id,
            dh.shop_id,
            cg.`name` goodsName,
            cg.shop_min_quantity,
            cg.shop_base_quantity,
            cg.image goodsPicture,
            cg.layer,
            di.goods_id,
            di.quantity,
            di.price
        FROM dispatch dh
        LEFT JOIN dispatch_item di ON di.dispatch_id = dh.id
        LEFT JOIN code_goods cg ON cg.id = di.goods_id
        WHERE
        dh.dispatch_no = #{dispatchNo}
        ORDER BY cg.layer ASC
    </select>
    <!--货架商品列表-->
    <select id="shopStockGoodsList" resultMap="BaseResultMap" parameterType="java.lang.String">
       SELECT
            ss.id,
            cg.`name` goodsName,
            cg.image goodsPicture,
            ss.layer,
            ss.goods_id,
            ss.quantity,
            cg.price
        FROM
            shop_stock ss
        LEFT JOIN code_goods cg ON cg.id = ss.goods_id
        LEFT JOIN dispatch dh ON dh.shop_id = ss.shop_id
        WHERE ss.shop_id = dh.shop_id
        AND dh.dispatch_no = #{dispatchNo}
    </select>
    <!-- 获取最大层数 -->
    <select id="getMaxLayer" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            MAX(cg.layer)
        FROM
            dispatch dh
        LEFT JOIN dispatch_item di ON di.dispatch_id = dh.id
        LEFT JOIN code_goods cg ON cg.id = di.goods_id
        WHERE
            dh.dispatch_no = #{dispatchNo}
        ORDER BY
            cg.layer DESC
    </select>
</mapper>